.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	transition: 1s;
}
.float:hover
{
-webkit-transform: rotate(360deg);
	/*  */
	
	
}
.float:active
{
	transform: scale(1.3);
}