<div class="animated fadeIn">

  
        <br><br><br><br><br><br>
         <div class="row">
         <div class="col-md-3" style="text-align: center; font-weight: 800; font-size: xx-large;">
             <mat-grid-list cols="1" rowHeight="2:1" [routerLink]="['/inicio/filtromarcas', 'Adidas']" style="outline:none"> 
                <mat-grid-tile class="primera" colspan="1"><img src="../../assets/img/Adidas.png" height="70%" width="70%"></mat-grid-tile>
             </mat-grid-list>
             
           </div>
           <div class="col-md-3" style="text-align: center; font-weight: 800;font-size: xx-large;">
                   <mat-grid-list cols="1" rowHeight="2:1" [routerLink]="['/inicio/filtromarcas', 'Charly']" style="outline:none"> 
                      <mat-grid-tile class="primera" colspan="1"><img src="../../assets/img/Charly.png" height="70%" width="70%"></mat-grid-tile>
                   </mat-grid-list>
             
           </div>
           <div class="col-md-3" style="text-align: center; font-weight: 800;font-size: xx-large;">
                   <mat-grid-list cols="1" rowHeight="2:1" [routerLink]="['/inicio/filtromarcas', 'Converse']" style="outline:none"> 
                      <mat-grid-tile class="primera" colspan="1"><img src="../../assets/img/Converse.png" height="70%" width="70%"></mat-grid-tile>
                   </mat-grid-list>
             
           </div>
           <div class="col-md-3" style="text-align: center; font-weight: 800;font-size: xx-large;">
               <mat-grid-list cols="1" rowHeight="2:1" [routerLink]="['/inicio/filtromarcas', 'Fila']" style="outline:none"> 
                 <mat-grid-tile class="primera" colspan="1"><img src="../../assets/img/Fila.png" height="70%" width="70%"></mat-grid-tile>
              </mat-grid-list>
             
           </div>
         </div>
 
         <div class="row">
           <div class="col-md-3" style="text-align: center; font-weight: 800; font-size: xx-large;">
               <mat-grid-list cols="1" rowHeight="2:1" [routerLink]="['/inicio/filtromarcas', 'Flexi']" style="outline:none"> 
                  <mat-grid-tile class="primera" colspan="1"><img src="../../assets/img/Flexi.png" height="70%" width="70%"></mat-grid-tile>
               </mat-grid-list>
               
             </div>
             <div class="col-md-3" style="text-align: center; font-weight: 800;font-size: xx-large;">
                     <mat-grid-list cols="1" rowHeight="2:1" [routerLink]="['/inicio/filtromarcas', 'Nike']" style="outline:none"> 
                        <mat-grid-tile class="primera" colspan="1"><img src="../../assets/img/Nike.png" height="70%" width="70%"></mat-grid-tile>
                     </mat-grid-list>
               
             </div>
             <div class="col-md-3" style="text-align: center; font-weight: 800;font-size: xx-large;">
                     <mat-grid-list cols="1" rowHeight="2:1" [routerLink]="['/inicio/filtromarcas', 'Pirma']" style="outline:none"> 
                        <mat-grid-tile class="primera" colspan="1"><img src="../../assets/img/Pirma.png" height="70%" width="70%"></mat-grid-tile>
                     </mat-grid-list>
               
             </div>
             <div class="col-md-3" style="text-align: center; font-weight: 800;font-size: xx-large;">
                 <mat-grid-list cols="1" rowHeight="2:1" [routerLink]="['/inicio/filtromarcas', 'Puma']" style="outline:none"> 
                   <mat-grid-tile class="primera" colspan="1"><img src="../../assets/img/Puma.png" height="70%" width="70%"></mat-grid-tile>
                </mat-grid-list>
               
             </div>
           </div>
           <br><br><br><br>
         </div>