<div class="animated fadeIn">

        
        <br><br><br>

        <mat-grid-list cols="3" rowHeight="1:1"  style="outline:none; overflow: hidden;"> 
          <mat-grid-tile class="primera" colspan="1" ><img [routerLink]="['/inicio/generos', 'Mujer']"  src="../../assets/img/mujer.png" height="65%" width="65%"></mat-grid-tile>
          <mat-grid-tile class="primera"  colspan="1"><img [routerLink]="['/inicio/generos', 'Niños']" src="../../assets/img/niños.png"height="65%" width="65%"></mat-grid-tile>
       
            <mat-grid-tile class="primera" colspan="1"><img [routerLink]="['/inicio/generos', 'Hombre']" src="../../assets/img/hombre.png" height="65%" width="65%"></mat-grid-tile>
            </mat-grid-list>
   
    

    
      </div>