<div class="col">

<div class="col-md-6 mx-auto text-center">
<p style="font-size: 40px; margin-top: 15%;">Página no encontrada</p>

<a style="font-size: 20px;" class="btn btn-primary" [routerLink]="[ '/inicio']"><i class="fa fa-home"></i> Volver a página principal PlusSoft</a>


</div>
</div>