<div class="animated fadeIn">

<div class="card " style="float: left;width: 18rem; margin-left: 10%; margin-top: 1%; text-align: center;" 
*ngFor="let Zapato of inventario" >
    <div class="card-body">
      <h5 class="card-title" style="font-size: 30px;">{{Zapato.tipo}}  <i class="fas fa-minus-circle" 
         style="cursor: pointer; text-align: center; color: rgb(29, 7, 102); margin-right: 0%; right: 0;" (click)="quitarCarro(Zapato)"></i>
      </h5>
      
        <hr><div class="textocarrito">

        <Span><b>Marca:</b> 	{{Zapato.marca}}</Span><br><br>
        <Span><b>Cantidad:</b> 	1</Span><br><br>
        <Span><b>Talla:</b> 	{{Zapato.talla}}</Span><br><br>
        <Span><b>Talla:</b> 	{{Zapato.genero}}</Span><br><br>
        <Span><b>Precio:</b> 	{{Zapato.precio}}</Span><br></div>

        <img src="../../assets/img/{{Zapato.marca}}.png " height="40px" > 
       <br>
       
    </div>
  </div>

<app-pago></app-pago>
</div>