<form (ngSubmit)="agregar()" style="margin-left: 30%;">
    <span class="titulo" style="margin-left: 17%;">Inventario</span>

    <input type="text" placeholder="Ingrese cantidad" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="Zapato.cantidad">

    <input type="text" placeholder="Ingrese nombre" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="Zapato.nombre">
<span style="color: rgb(46, 41, 41); margin-top: 10%;"> Seleccione género</span>
    <select  [ngModelOptions]="{standalone: true}" [(ngModel)]="Zapato.genero" class="form-control" id="exampleFormControlSelect1" placeholder= "">
        <option>Hombre</option>
        <option>Mujer</option>
        <option>Niños</option>
        
      </select>
      <span style="color: rgb(46, 41, 41);"> Seleccione tipo</span>

      <select [ngModelOptions]="{standalone: true}" [(ngModel)]="Zapato.tipo"  class="form-control" id="exampleFormControlSelect2"  placeholder= "">

            <option hidden> Tipo</option>
            <option>Zapato</option>
            <option>Sandalia</option>
            <option>Tacon</option>
            
          </select>

          <span style="color: rgb(46, 41, 41);"> Seleccione marca</span>

          <select [ngModelOptions]="{standalone: true}" [(ngModel)]="Zapato.marca"  class="form-control" id="exampleFormControlSelect9"  placeholder= "">

            <option hidden> Marca</option>
            <option>Adidas</option>
            <option>Nike</option>
            <option>Flexi</option>
            
          </select>

          <span style="color: rgb(46, 41, 41);"> Seleccione color</span>

    <select   [ngModelOptions]="{standalone: true}" [(ngModel)]="Zapato.color" class="form-control" id="exampleFormControlSelect3" name="color">
        <option hidden> Color</option>
        <option>Negro</option>
        <option>Cafe</option>
        <option>Blanco</option>
        <option>Rosa</option>
        <option>Azul</option>
      </select>

      <span style="color: rgb(46, 41, 41);"> Seleccione talla</span>

      <select class="form-control" id="exampleFormControlSelect4" [ngModelOptions]="{standalone: true}" [(ngModel)]="Zapato.talla">
        <option hidden> Talla</option>
        <option *ngFor="let numero of numeros">{{numero}}</option>
   

    </select>

        <input style="margin-top: 10px;" type="text" placeholder="Ingresa el precio" class="form-control" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="Zapato.precio">

        <input style="margin-top: 10px;" type="text" placeholder="Ingresa el descuento" class="form-control" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="Zapato.descuento">

        <input  style="margin-top: 10px;" type="text" placeholder="Ingresa el total" class="form-control" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="Zapato.total">



    <br><button class="btn btn-dark mt-3" type="submit" style="margin-left: 20%; margin-bottom: 5%;">Agregar</button>
</form>
<br>
<div class="datos">
    <table class="table table-hover" style="text-align: center;">
        <thead>
            <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Marca</th>
                <th scope="col">Género</th>

                <th scope="col">Color</th>

                <th scope="col">Talla</th>
                <th scope="col">Precio</th>
                <th scope="col">Descuento</th>
                <th scope="col">Total</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>

        <tbody>
            <tr class="alert alert-secondary " role="alert" *ngFor="let Zapato of inventario">




                <th scope="row"> {{Zapato.cantidad}}</th>
                <td> {{Zapato.nombre}}</td>
                <td> {{Zapato.tipo}}</td>
                <td> {{Zapato.marca}}</td>
                <td> {{Zapato.genero}}</td>
                <td> {{Zapato.color}}</td>

                <td> {{Zapato.talla}}</td>
                <td> {{Zapato.precio}}</td>
                <td> {{Zapato.descuento}}</td>
                <td> {{Zapato.total}}</td>
                <td style="cursor: pointer; text-align: center;" (click)="editar(Zapato)"
                 data-toggle="modal" data-target="#exampleModal"> <i class="fas fa-edit" ></i> </td>

                <td style="cursor: pointer; text-align: center;" (click)="eliminar(Zapato)"> <i class="fas fa-trash" ></i> </td>
            </tr>

        </tbody>
    </table>

</div>

      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar datos</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form (ngSubmit)="agregarItemEditado()" style="margin-left: 30%;">
                        
                            <input type="text" placeholder="Ingrese cantidad" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="editarItem.cantidad">
                        
                            <input type="text" placeholder="Ingrese nombre" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="editarItem.nombre">
                        
                            <select  [ngModelOptions]="{standalone: true}" [(ngModel)]="editarItem.genero" class="form-control" id="exampleFormControlSelect1" placeholder= "">
                                    <option hidden> Género</option>
                                <option>Hombre</option>
                                <option>Mujer</option>
                                <option>Niños</option>
                                
                              </select>
                        
                              <select [ngModelOptions]="{standalone: true}" [(ngModel)]="editarItem.tipo"  class="form-control" id="exampleFormControlSelect2"  placeholder= "">
                        
                                    <option hidden> Tipo</option>
                                    <option>Zapato</option>
                                    <option>Sandalia</option>
                                    <option>Tacon</option>
                                    
                                  </select>
                                  <select [ngModelOptions]="{standalone: true}" [(ngModel)]="editarItem.marca"  class="form-control" id="exampleFormControlSelect9"  placeholder= "">
                        
                                    <option hidden> Marca</option>
                                    <option>Adidas</option>
                                    <option>Nike</option>
                                    <option>Flexi</option>
                                    
                                  </select>
                        
                        
                            <select   [ngModelOptions]="{standalone: true}" [(ngModel)]="editarItem.color" class="form-control" id="exampleFormControlSelect3" name="color">
                               
                                <option>Negro</option>
                                <option>Cafe</option>
                                <option>Blanco</option>
                                <option>Rosa</option>
                                <option>Azul</option>
                              </select>
                        
                              <select class="form-control" id="exampleFormControlSelect4" [ngModelOptions]="{standalone: true}" [(ngModel)]="editarItem.talla">
                                <option hidden> Talla</option>
                                <option *ngFor="let numero of numeros">{{numero}}</option>
                           
                        
                            </select>
                        
                                <input style="margin-top: 10px;" type="text" placeholder="Ingresa el precio" class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="editarItem.precio">
                        
                                <input style="margin-top: 10px;" type="text" placeholder="Ingresa el descuento" class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="editarItem.descuento">
                        
                                <input  style="margin-top: 10px;" type="text" placeholder="Ingresa la talla" class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="editarItem.total">
                        
                        
                        
                            <br><button class="btn btn-dark mt-3" type="submit" style="margin-left: 20%; margin-bottom: 5%;">Guardar Cambios</button>
                        </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>