.alert
{
    width: 60%;
}
.datos
{
    align-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.form-control
{
    margin-top: 1%;
    width: 50%;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #fff;
  }