<span class="titulo" style="margin-left: 45%; margin-bottom: 5%;">Género : {{this._route.snapshot.paramMap.get('id')}}
</span>
<div class="datos">
    <table class="table table-hover" style="text-align: center;">
        <thead>
            <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Marca</th>
                <th scope="col">Género</th>

                <th scope="col">Color</th>

                <th scope="col">Talla</th>
                <th scope="col">Precio</th>
                <th scope="col">Descuento</th>
                <th scope="col">Total</th>
                <th scope="col">Agregar al carrito</th>
            </tr>
        </thead>

        <tbody>
            <tr class="alert alert-secondary " role="alert" *ngFor="let Zapato of inventario" >




                <th scope="row"> {{Zapato.cantidad}}</th>
                <td> {{Zapato.nombre}}</td>
                <td> {{Zapato.tipo}}</td>
                <td> {{Zapato.marca}}</td>
                <td> {{Zapato.genero}}</td>
                <td> {{Zapato.color}}</td>

                <td> {{Zapato.talla}}</td>
                <td> {{Zapato.precio}}</td>
                <td> {{Zapato.descuento}}</td>
                <td> {{Zapato.total}}</td>
                <td style="cursor: pointer; text-align: center;" (click)="agCarro(Zapato)"> <i class="fas fa-cart-plus" ></i> </td>
            </tr>

        </tbody>
    </table>

</div>