input
{
    outline: none;
    background-color: white;
    opacity: 50%;
}

.iniciar
{
    color: #673ab7;
    font-size: 40px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-form-field
  {
    border: 2px;
  }

a
{
 text-decoration: none;
 font: bold;
}

button
{
   border-width: 2px;
  border: blueviolet;
 
}

::-webkit-input-placeholder
{
  color: black;
  font-family: initial;
}