<div bcolor="primary" class="login">
  <img src="../../assets/img/calzado plus (1).png" height="200px" style="padding: 40px 0px 0px 45%;">

  <div class="cuadro">
   
      <span class="iniciar"><b>Ingresar</b></span>
      <br><br>

      <form (submit) = "onSubmitLoginUser()">
      <br>
      <input style="margin-top: 10px;" id = "email" type="email" placeholder="Correo electrónico" class="form-control"
      [ngModelOptions]="{standalone: true}" style= "border-color: rgb(32, 32, 32); color:  rgb(0, 0, 0); font-size: larger "
      [(ngModel)]="email" > 
      





      <br>
      <input style="margin-top: 10px;" id = "password"  type="password" placeholder="Contraseña" class="form-control"
      [ngModelOptions]="{standalone: true}" style= "border-color: rgb(32, 32, 32); color:  rgb(32, 32, 32); font-size: larger "
     [(ngModel)]="password">
      <br>  
      <span style="color: red;" *ngIf="mal" > Verifique su correo y contraseña </span><br>
   <br><input  type = "submit" value= "ENTRAR" class="btn btn-secondary" style="background-color: rgb(113, 12, 160); font-size: 150% ;color: white; cursor: pointer;"> <br>
     
  </form>
  </div>
</div>
