<div class="animated fadeIn">
<br><br>


    <div class="container mt-5"></div>
<div class="row">
  <div class="col-md-6" style="margin-left: 10px">
<div  class="alert alert-warning " role="alert" *ngFor="let item of items">
<span>{{item.name}}
{{item.edad}} {{item.ciudad}} - {{item.id}} 
</span>
<div class="float-right">
<i class="fas fa-trash-alt" style="right: 10px; cursor: pointer; font-size: 25px;"></i>


</div>

</div>
  </div>
  <div class="col-md-5">
    <form (ngSubmit)="agregar()" >
      <input type="text" placeholder="Ingresa tu nombre"
       name="name" class="form-contol"
       [(ngModel)]= "item.name"
       >
<br>
       <input  style="margin-top: 30px;"
       type="text" placeholder="Ingresa tu edad"
       name="edad" class="form-contol"
       [(ngModel)]= "item.edad"
       >
       <br><button class="btn btn-warning mt-3" type="submit" >Agregar</button>
    </form>
  </div>

</div>
  </div>