input
{
    outline: none;
    background-color: white;
    opacity: 50%;
}
body{
  background-color: brown;
}
.iniciar
{
    color: #673ab7;
    text-align: center;
    font-size: 40px;;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-form-field
  {
    border: 2px;
  }
/* <form class="form">
<input type="text" placeholder="Username">
<input type="password" placeholder="Password">
<button type="submit" id="login-button">Login</button>
</form> */
a
{
 text-decoration: none;
 font: bold;
}

button
{
   border-width: 2px;
  border: rgb(179, 149, 207);
 
}
.btn:hover
{
  box-shadow: 0 0 10px rgb(116, 35, 116);
}

::-webkit-input-placeholder
{
  color: black;
  font-family: initial;
}

