<div bcolor="primary" class="login">
    <img src="../../assets/img/calzado plus (1).png" height="200px" style="padding: 40px 0px 0px 45%;">
  
    <div class="cuadro">
     
        <span class="iniciar"><b>Registrar cuenta</b></span>
        <br><br>

        <form (submit) = "onSubmitAddUser()">
           <!--  <select  class="form-control" placeholder= "" style="cursor: pointer;">
                <option hidden> Tipo de usuario</option>
            <option>Empleado</option>
            <option>Gerente</option>
            <option>Administrador</option>
            
          </select> -->
        <br>
        <input style="margin-top: 10px;" id = "email" type="email" placeholder="Correo electrónico" class="form-control"
        [ngModelOptions]="{standalone: true}" style= "border-color: rgb(32, 32, 32); color:  rgb(32, 32, 32); font-size: larger;"
        [(ngModel)]="email">

        <br>
        <input style="margin-top: 10px;" id = "password"  type="password" placeholder="Contraseña" class="form-control"
        [ngModelOptions]="{standalone: true}" style= "border-color: rgb(32, 32, 32); color:  rgb(32, 32, 32); font-size: larger "
       [(ngModel)]="password">
        <br>  
     <input  type = "submit" value= "ENVIAR" class="btn" style="background-color: rgb(144, 109, 168); color: white; cursor: pointer;"> <br>
      <br>  <a [routerLink]="[ '/inicio']" class="btn " style="background-color:rgb(144, 109, 168) ; color: white; cursor: pointer;">Volver</a>
       
    </form>
    </div>
 </div>
 