.float{
	position:fixed;
	width:260px;
	height:80px;
	bottom:40px;
	right:140px;
	background-color:rgb(83, 6, 155);
	color:#FFF;
	border-radius:5px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    transition: 1s;
    font-size: 40px;
    align-content: center;
}