<div class="animated fadeIn">

 
       <br><br><br><br><br><br>
        <div class="row">
        <div class="col-md-3" style="text-align: center; font-weight: 800; font-size: xx-large;">
            <mat-grid-list cols="1" rowHeight="2:1" [routerLink]="['/inicio/tipos', 'Zapatilla']" style="outline:none"> 
               <mat-grid-tile class="primera" colspan="1"><img src="../../assets/img/Zapato1.png" height="70%" width="70%"></mat-grid-tile>
            </mat-grid-list>
            Zapatilla
          </div>
          <div class="col-md-3" style="text-align: center; font-weight: 800;font-size: xx-large;">
                  <mat-grid-list cols="1" rowHeight="2:1" [routerLink]="['/inicio/tipos', 'Sandalia']" style="outline:none"> 
                     <mat-grid-tile class="primera" colspan="1"><img src="../../assets/img/Zapato2.png" height="70%" width="70%"></mat-grid-tile>
                  </mat-grid-list>
            Sandalia
          </div>
          <div class="col-md-3" style="text-align: center; font-weight: 800;font-size: xx-large;">
                  <mat-grid-list cols="1" rowHeight="2:1" [routerLink]="['/inicio/tipos', 'Zapato']" style="outline:none"> 
                     <mat-grid-tile class="primera" colspan="1"><img src="../../assets/img/Zapato3.png" height="70%" width="70%"></mat-grid-tile>
                  </mat-grid-list>
            Zapato
          </div>
          <div class="col-md-3" style="text-align: center; font-weight: 800;font-size: xx-large;">
              <mat-grid-list cols="1" rowHeight="2:1" [routerLink]="['/inicio/tipos', 'Tenis']" style="outline:none"> 
                <mat-grid-tile class="primera" colspan="1"><img src="../../assets/img/Zapato4.png" height="70%" width="70%"></mat-grid-tile>
             </mat-grid-list>
            Tenis
          </div>
        </div>

        <div class="row">
          <div class="col-md-3" style="text-align: center; font-weight: 800; font-size: xx-large;">
              <mat-grid-list cols="1" rowHeight="2:1" [routerLink]="['/inicio/tipos', 'Tacones']" style="outline:none"> 
                 <mat-grid-tile class="primera" colspan="1"><img src="../../assets/img/Zapato5.png" height="70%" width="70%"></mat-grid-tile>
              </mat-grid-list>
              Tacones
            </div>
            <div class="col-md-3" style="text-align: center; font-weight: 800;font-size: xx-large;">
                    <mat-grid-list cols="1" rowHeight="2:1" [routerLink]="['/inicio/tipos', 'Botas_mujer']" style="outline:none"> 
                       <mat-grid-tile class="primera" colspan="1"><img src="../../assets/img/Zapato7.png" height="70%" width="70%"></mat-grid-tile>
                    </mat-grid-list>
              Botas de mujer
            </div>
            <div class="col-md-3" style="text-align: center; font-weight: 800;font-size: xx-large;">
                    <mat-grid-list cols="1" rowHeight="2:1" [routerLink]="['/inicio/tipos', 'Botas_hombre']" style="outline:none"> 
                       <mat-grid-tile class="primera" colspan="1"><img src="../../assets/img/Zapato8.png" height="70%" width="70%"></mat-grid-tile>
                    </mat-grid-list>
              Botas de hombre
            </div>
            <div class="col-md-3" style="text-align: center; font-weight: 800;font-size: xx-large;">
                <mat-grid-list cols="1" rowHeight="2:1" [routerLink]="['/inicio/tipos', 'Mocasines']" style="outline:none"> 
                  <mat-grid-tile class="primera" colspan="1"><img src="../../assets/img/Zapato9.png" height="70%" width="70%"></mat-grid-tile>
               </mat-grid-list>
              Mocasines
            </div>
          </div>
          <br><br><br><br><br><br><br>
          <!-- <div class="datos">
            <table class="table table-hover" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Género</th>
        
                        <th scope="col">Color</th>
        
                        <th scope="col">Talla</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Descuento</th>
                        <th scope="col">Total</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
        
                <tbody>
                    <tr class="alert alert-secondary " role="alert" *ngFor="let Zapato of inventario" >
        
        
        
        
                        <th scope="row"> {{Zapato.cantidad}}</th>
                        <td> {{Zapato.nombre}}</td>
                        <td> {{Zapato.tipo}}</td>
                        <td> {{Zapato.genero}}</td>
                        <td> {{Zapato.color}}</td>
        
                        <td> {{Zapato.talla}}</td>
                        <td> {{Zapato.precio}}</td>
                        <td> {{Zapato.descuento}}</td>
                        <td> {{Zapato.total}}</td>
                        <td style="cursor: pointer; text-align: center;" (click)="eliminar(Zapato)"> <i class="fas fa-trash" ></i> </td>
                    </tr>
        
                </tbody>
            </table>
        
        </div> -->
        </div>