.primera
{
    transition-duration: .4s;
    border-radius: 20px;

}
.primera:hover
{
    transform: scale(1.15);
    transition-duration: .4s;
}
.primera::after
{
    transform: scale(1);
    transition-duration: .4s;

}
.col-md-3 {
font-size: 50%;
}
.col-md-3:hover
{
    transform: scale(1.15);
    transition-duration: .4s;
}
.col-md-3::after
{
    transform: scale(1);
    transition-duration: .4s;

}
img {
    border-radius: 20px
}