/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.login
{
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-color: #673ab7;
  }
  .login1
{
    background-color: #673ab7;
  }
.titulo
{
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
  .login .cuadro{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    text-align: center;
    width: 350px;
    border-radius: 10px;
}

/*Animaciones*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}