<div class="row">

    <div class="col-2"></div>

    <div class="col-8">
        <br>
<form>
        <div class="form-group">
                <label for="exampleFormControlInput1"><b>Nombre del cliente</b></label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
              </div>
    <div class="form-group">
      <label for="exampleFormControlInput1"><b>Correo electrónico</b></label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1"><b>Forma de pago</b></label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Efectivo</option>
        <option>Débito</option>
        <option>Crédito</option>
      </select>
    </div>
   
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Observaciones</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <br><a href="inicio/registro_pago" class="btn btn-primary">Pagar en cajas</a>

  </form>
</div>


  <div class="col-2"></div>
</div>