
input
{
	outline: none;
}

.logo
{
   margin: 25px;
}
.btn
{
    text-decoration: none;
    color: white;
	font-size: 20px;
	outline: none;
}
.btn:focus {
	outline: none;
  }
.btnsalir
{
    text-decoration: none;
    color: #673ab7;;
    background-color: white;
    font-size: 20px;
}
*
{
    text-decoration: none;
	padding:0;margin:0;
	outline: none;
}


body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	transition: .4s;
}

.my-float{
	margin-top:22px;
}
.float:hover
{
    transform: scale(1.1);
}

button.mat-menu-item
{
outline: none;
}
