<mat-toolbar color="primary">

        <mat-toolbar-row class="logo">
            <a [routerLink]="['/inicio']"> <img src="../../assets/img/calzado plus (1).png" height="92px" alt="Logo"></a>
            
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <div style="text-align: center;">
            <a [routerLink]="['tipo']"> <button mat-button  class="btn">Tipo</button></a>&nbsp;
            <a [routerLink]="['genero']"> <button mat-button  class="btn">Género</button></a>  &nbsp;           
            <a [routerLink]="['marcas']"> <button mat-button  class="btn">Marca</button></a> &nbsp;
    
          </div>

<div style="padding: 0 0 0 62%; cursor: pointer;">          
    <mat-icon  aria-hidden="false" aria-label="Example home icon" [matMenuTriggerFor]="opciones" style="font-size: 30px;" *ngIf="isLogin!==1">home</mat-icon>
           
 <mat-menu #opciones="matMenu" style="outline: none;">
            <button mat-menu-item style="outline: none;" >Mi Cuenta</button>
            <button mat-menu-item [matMenuTriggerFor]="opcionesrep" >Reporte</button>
            <button mat-menu-item [routerLink]="[ 'entrada']" >Registrar entrada</button>
            <button mat-menu-item [routerLink]="[ '/registrar']" >Registrar</button>
            <button mat-menu-item  style="text-decoration: none; right: 0px;" (click)="onClickLogout()">
              Salir
            </button>
          
          </mat-menu>
          <mat-menu #opcionesrep="matMenu" style="outline: none;">
              <button mat-menu-item [routerLink]="[ '/inicio/reporte']" style="outline: none;">Diario</button>
              <button mat-menu-item >Semanal</button>
              <button mat-menu-item >Mensual</button>

              <button mat-menu-item [routerLink]="[ '/login']" style="text-decoration: none; right: 0px;">
                Anual
              </button>
            
            </mat-menu>

        </div>         
        </mat-toolbar-row>
       
      </mat-toolbar>
      

       <router-outlet></router-outlet>
       <app-iconocarro></app-iconocarro>